<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<dhc:dogHomeConfiguration xmlns:dhc="http://elite.polito.it/dogHomeConfiguration">
	<dhc:controllables>
		<dhc:device class="SinglePhaseElectricityMeter" id="$name"
			domoticSystem="ZWave" gateway="$gateway">
			<dhc:description>$description</dhc:description>
			<dhc:isIn>$location</dhc:isIn>
			<dhc:param value="$nodeId" name="nodeId" type="network" />
			#foreach( $instanceId in $instanceIds )
			<dhc:param value="$instanceId" name="instanceId" type="network" />
			#end
			<dhc:controlFunctionality
				class="SinglePhaseActivePowerMeasurementFunctionality">
				<dhc:commands>
					<dhc:command class="Get1PhaseActivePowerCommand"
						name="Get1PhaseActivePowerCommand_$name" id="Get1PhaseActivePowerCommand_$name">
						<dhc:param name="realCommandName" value="getActivePower" />
						<dhc:param name="returnType" value="Measure" />
					</dhc:command>
				</dhc:commands>
			</dhc:controlFunctionality>
			<dhc:controlFunctionality
				class="SinglePhaseActiveEnergyMeasurementFunctionality">
				<dhc:commands>
					<dhc:command class="Get1PhaseActiveEnergyCommand"
						name="Get1PhaseActiveEnergyValueCommand_$name" id="Get1PhaseActiveEnergyValueCommand_$name">
						<dhc:param name="realCommandName" value="getActiveEnergyValue" />
						<dhc:param name="returnType" value="Measure" />
					</dhc:command>
				</dhc:commands>
			</dhc:controlFunctionality>
			<dhc:notificationFunctionality
				class="SinglePhaseActivePowerMeasurementNotificationFunctionality">
				<dhc:notifications>
					<dhc:notification class="SinglePhaseActivePowerMeasurementNotification"
						id="SinglePhaseActivePowerMeasurementNotification_$name">
						<dhc:param name="nParams" value="2" />
						<dhc:param name="notificationName" value="newActivePowerValue" />
						<dhc:param name="unitOfMeasure" value="W" />
						<dhc:param name="notificationParamName" value="value"
							type="Measure" />
					</dhc:notification>
				</dhc:notifications>
			</dhc:notificationFunctionality>
			<dhc:notificationFunctionality
				class="SinglePhaseActiveEnergyMeasurementNotificationFunctionality">
				<dhc:notifications>
					<dhc:notification class="SinglePhaseActiveEnergyMeasurementNotification"
						id="SinglePhaseActiveEnergyMeasurementNotification_$name">
						<dhc:param name="nParams" value="2" />
						<dhc:param name="notificationName" value="newActiveEnergyValue" />
						<dhc:param name="unitOfMeasure" value="kWh" />
						<dhc:param name="notificationParamName" value="value"
							type="Measure" />
					</dhc:notification>
				</dhc:notifications>
			</dhc:notificationFunctionality>
			<dhc:state class="SinglePhaseActiveEnergyMeasurementState">
				<dhc:statevalues>
					<dhc:statevalue class="SinglePhaseActiveEnergyStateValue" name="" >
						<dhc:param name="unitOfMeasure" value="kWh" />
					</dhc:statevalue>
				</dhc:statevalues>
			</dhc:state>
			<dhc:state class="SinglePhaseActivePowerMeasurementState">
				<dhc:statevalues>
					<dhc:statevalue class="SinglePhaseActivePowerStateValue" name="" >
						<dhc:param name="unitOfMeasure" value="W" />
					</dhc:statevalue>
				</dhc:statevalues>
			</dhc:state>
		</dhc:device>
	</dhc:controllables>
</dhc:dogHomeConfiguration>