<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<dhc:dogHomeConfiguration xmlns:dhc="http://elite.polito.it/dogHomeConfiguration">
	<dhc:controllables>
		<dhc:device class="DoorSensor" id="$name" domoticSystem="EnOcean"
			gateway="$gateway">
			<dhc:description>$description</dhc:description>
			<dhc:isIn>$location</dhc:isIn>
			<dhc:param value="$address" name="address" type="network" />
			<dhc:param value="$eep" name="eep" type="network" />
			<dhc:param value="$uid" name="uid" type="network" />
			<dhc:notificationFunctionality class="OpenCloseNotificationFunctionality">
				<dhc:notifications>
					<dhc:notification class="CloseNotification" id="CloseNotification_$name">
						<dhc:param name="nParams" value="0" />
						<dhc:param name="notificationName" value="close" />
					</dhc:notification>
					<dhc:notification class="OpenNotification" name="OpenNotification_$name">
						<dhc:param name="nParams" value="0" />
						<dhc:param name="notificationName" value="open" />
					</dhc:notification>
				</dhc:notifications>
			</dhc:notificationFunctionality>
			<dhc:state class="OpenCloseState">
				<dhc:statevalues>
					<dhc:statevalue class="OpenStateValue" name="open" />
					<dhc:statevalue class="CloseStateValue" name="close" />
				</dhc:statevalues>
			</dhc:state>
		</dhc:device>
	</dhc:controllables>
</dhc:dogHomeConfiguration>