<div ng-controller="DeviceCtrl">
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="device in data.devices">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <span class="device-{{device.type}}"></span>{{device.id}}
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <small>{{device.description}}</small><br>
              <small>{{device.isIn}}</small><br><br>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="(stateName, stateValues) in device.status">
                  {{stateName}}
                  <span class="badge" ng-repeat="stateValue in stateValues">{{stateValue.value}}</span>
                </li>
              </ul>
              <div ng-repeat="controlFunctionality in device.controlFunctionality">
                <button ng-repeat="command in controlFunctionality.commands | filter:'!get'" class="btn btn-primary btn-block" ng-click="sendCommand(device.id, command.param[0].value)">
                  {{command.param[0].value}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>