<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/status"
            class="it.polito.elite.dog.web.admin.ui.StatusServlet">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/img"
            base-name="resources/img">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/css"
            base-name="resources/css">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/js"
            base-name="resources/js">
      </resource>
   </extension>

</plugin>
