[class^="device-"],
[class*=" device-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  /*margin-top: 1px;*/
  margin-right: .3em;
  line-height: 14px;
  vertical-align: middle;
  background-image: url("../img/devices/device.png");
  background-repeat: no-repeat;
}

.device-modbusgateway,
.device-knxnetipgateway,
.device-elitegateway,
.device-bticinogateway,
.device-echelonlilon100gateway,
.device-homegateway,
.device-konnexgateway,
.device-texasinstrumentsgateway,
.device-zwavegateway
{
	background-image: url("../img/devices/gateway.png");	
}

.device-mainspoweroutlet,
.device-onoffoutput,
.device-meteringpoweroutlet,
.device-energymeteringpoweroutlet,
.device-powermeteringpoweroutlet
{
	background-image: url("../img/devices/plug.png");
}

.device-washingmachine,
.device-appliances,
.device-dishwasher
{
	background-image: url("../img/devices/washing-machine.png");
}

.device-activepowermeter,
.device-apparentpowermeter,
.device-currentmeter,
.device-electricitymeter,
.device-energymeter,
.device-energyandpowermeter,
.device-multitariffenergymeter,
.device-multitariffsinglephaseenergymeter,
.device-multitariffthreephaseenergymeter,
.device-reactivepowermeter,
.device-singlephaseactivepowermeter,
.device-singlephaseapparentpowermeter,
.device-singlephasecurrentmeter,
.device-singlephaseelectricitymeter,
.device-singlephaseenergymeter,
.device-singlephasereactivepowermeter
.device-singlephasevoltagemeter,
.device-singletariffenergymeter,
.device-threephaseactivepowermeter,
.device-threephaseapparentpowermeter,
.device-threephasecurrentmeter,
.device-threephaseelectricitymeter,
.device-threephaseenergymeter,
.device-threephasereactivepowermeter,
.device-threephasevoltagemeter
{
	background-image: url("../img/devices/electricity-meter.png");
	width: 31px;
}

.device-microwaveoven
{
	background-image: url("../img/devices/microwave.png");
}

.device-cooker,
.device-electricalcooker,
.device-gascooker,
.device-hotplate,
.device-electricaloven
{
	background-image: url("../img/devices/cooker.png");
}

.device-fridge,
.device-deepfreezer
{
	background-image: url("../img/devices/fridge.png");
}

.device-singletemperaturesensor,
.device-temperatureandhumiditysensor,
.device-temperaturesensor
{
	background-image: url("../img/devices/temperature.png");
}

.device-accesscontrolsystem
{
	background-image: url("../img/devices/access-control.png");
}

.device-acoustic
{
	background-image: url("../img/devices/speaker.png");
}

.device-actuator,
.device-awningactuator
{
	background-image: url("../img/devices/actuator.png");
}

.device-airconditioningsystem
{
	background-image: url("../img/devices/cold.png");
}

.device-alarmclock
{
	background-image: url("../img/devices/alarm-clock.png");
}

.device-answeringmachine,
.device-communication,
.device-fax,
.device-interphone
{
	background-image: url("../img/devices/phone.png");
	
}

.device-antiintrusionsystem
{
	background-image: url("../img/devices/anti-intrusion.png");
}

.device-boiler,
.device-hottube
{
	background-image: url("../img/devices/hot-tube.png");
}

.device-browngoods
{
	background-image: url("../img/devices/radio.png");
}

.device-button
{
	background-image: url("../img/devices/tap.png");
}

.device-buzzer
{
	background-image: url("../img/devices/bell.png");
}

.device-clock,
.device-ez430chronos
{
	background-image: url("../img/devices/clock.png");	
}

.device-co2sensor
{
	background-image: url("../img/devices/co2sensor.png");	
}

.device-coffeemaker
{
	background-image: url("../img/devices/coffee-maker.png");	
}

.device-colordimmablelight
{
	background-image: url("../img/devices/color-dimmable-lamp.png");
}

.device-colordimmableswitch
{
	background-image: url("../img/devices/color-dimmable-switch.png");
}

.device-computer
{
	background-image: url("../img/devices/notebook.png");
}

.device-control,
.device-controllable,
.device-switch
{
	background-image: url("../img/devices/switch.png");
}

.device-dimmablelight,
.device-dimmerlamp
{
	background-image: url("../img/devices/dimmable-lamp.png");
}

.device-dimmerswitch,
.device-levelcontrolswitch
{
	background-image: url("../img/devices/dimmable-switch.png");
}

.device-dooractuator,
.device-doorsensor
{
	background-image: url("../img/devices/door.png");
}

.device-dvd
{
	background-image: url("../img/devices/dvd.png");
}

.device-electricalsystem
{
	background-image: url("../img/devices/electrical.png");
}

.device-entertainment,
.device-hifi
{
	background-image: url("../img/devices/entertainment.png");
}

.device-fan
{
	background-image: url("../img/devices/fan.png");
}

.device-firesystem
{
	background-image: url("../img/devices/fire.png");
}

.device-flashinglamp
{
	background-image: url("../img/devices/flashing-lamp.png");
}

.device-floodsensor,
.device-floodsystem
{
	background-image: url("../img/devices/sink.png");
}

.device-flowsensor,
.device-gasmeter
{
	background-image: url("../img/devices/pressure.png");
}

.device-frequencymeter
{
	background-image: url("../img/devices/frequency-meter.png");
}

.device-gasheater,
.device-gasoilheater
.device-gassystem,
.device-heater,
.device-heatingsystem
{
	background-image: url("../img/devices/heater.png");
}

.device-gassensor
{
	background-image: url("../img/devices/smoking.png");
}

.device-gateactuator
{
	background-image: url("../img/devices/gate-actuator.png");
}

.device-heatingandcoolingunit,
.device-hvacsystem
{
	background-image: url("../img/devices/heating-and-cooling.png");
}

.device-heatingenergymeter
{
	background-image: url("../img/devices/heating-meter.png");
}

.device-houseplants
{
	background-image: url("../img/devices/home.png");
}

.device-humiditysensor
{
	background-image: url("../img/devices/humidity-sensor.png");
}

.device-infraredsensor,
.device-movementsensor
{
	background-image: url("../img/devices/infrared-sensor.png");
}

.device-knob
{
	background-image: url("../img/devices/knob.png");
}

.device-lamp,
.device-lampholder,
.device-lighting,
.device-simplelamp
{
	background-image: url("../img/devices/lamp.png");
}

.device-levelcontrollableoutput
{
	background-image: url("../img/devices/level-out.png");
}

.device-lightsensor
{
	background-image: url("../img/devices/light-sensor.png");
}

.device-meter
{
	background-image: url("../img/devices/speed.png");
}