<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<dhc:dogHomeConfiguration xmlns:dhc="http://elite.polito.it/dogHomeConfiguration">
	<dhc:controllables>
		<dhc:device domoticSystem="ZWave" id="$name" class="MeteringPowerOutlet"
			gateway="$gateway">
			<dhc:description>$description</dhc:description>
			<dhc:isIn>$location</dhc:isIn>
			<dhc:param value="$nodeId" name="nodeId" type="network" />
			#foreach( $instanceId in $instanceIds )
			<dhc:param value="$instanceId" name="instanceId" type="network" />
			#end
			<dhc:controlFunctionality class="OnOffFunctionality">
				<dhc:commands>
					<dhc:command id="OffCommand_$name" name="OffCommand_$name"
						class="OffCommand">
						<dhc:param value="off" name="realCommandName" />
					</dhc:command>
					<dhc:command id="OnCommand_$name" name="OnCommand_$name"
						class="OnCommand">
						<dhc:param value="on" name="realCommandName" />
					</dhc:command>
				</dhc:commands>
			</dhc:controlFunctionality>
			<dhc:controlFunctionality
				class="SinglePhaseActivePowerMeasurementFunctionality">
				<dhc:commands>
					<dhc:command class="Get1PhaseActivePowerCommand" name="Get1PhaseActivePowerCommand_$name"
						id="Get1PhaseActivePowerCommand_$name">
						<dhc:param name="realCommandName" value="getActivePower" />
						<dhc:param name="returnType" value="Measure" />
					</dhc:command>
				</dhc:commands>
			</dhc:controlFunctionality>
			<dhc:controlFunctionality
				class="SinglePhaseActiveEnergyMeasurementFunctionality">
				<dhc:commands>
					<dhc:command class="Get1PhaseActiveEnergyCommand" name="Get1PhaseActiveEnergyCommand_$name"
						id="Get1PhaseActiveEnergyCommand_$name">
						<dhc:param value="getActiveEnergyValue" name="realCommandName" />
						<dhc:param name="returnType" value="Measure" />
					</dhc:command>
				</dhc:commands>
			</dhc:controlFunctionality>
			<dhc:notificationFunctionality class="OnOffNotificationFunctionality">
				<dhc:notifications>
					<dhc:notification id="OnNotification_$name" class="OnNotification">
						<dhc:param name="nParams" value="0"/>
						<dhc:param value="on" name="notificationName" />
					</dhc:notification>
					<dhc:notification id="OffNotification_$name" class="OffNotification">
						<dhc:param name="nParams" value="0"/>
						<dhc:param value="off" name="notificationName" />
					</dhc:notification>
				</dhc:notifications>
			</dhc:notificationFunctionality>
			<dhc:notificationFunctionality
				class="SinglePhaseActivePowerMeasurementNotificationFunctionality">
				<dhc:notifications>
					<dhc:notification class="SinglePhaseActivePowerMeasurementNotification"
						name="SinglePhaseActivePowerMeasurementNotification_$name">
						<dhc:param name="nParams" value="2" />
						<dhc:param name="notificationName" value="newActivePowerValue" />
						<dhc:param name="unitOfMeasure" value="W" />
						<dhc:param name="notificationParamName" value="value"
							type="Measure" />
					</dhc:notification>
				</dhc:notifications>
			</dhc:notificationFunctionality>
			<dhc:notificationFunctionality
				class="SinglePhaseActiveEnergyMeasurementNotificationFunctionality">
				<dhc:notifications>
					<dhc:notification class="SinglePhaseActiveEnergyMeasurementNotification"
						name="SinglePhaseActiveEnergyMeasurementNotification_$name">
						<dhc:param name="nParams" value="2" />
						<dhc:param name="notificationName" value="newActiveEnergyValue" />
						<dhc:param name="unitOfMeasure" value="Wh" />
						<dhc:param name="notificationParamName" value="value"
							type="Measure" />
					</dhc:notification>
				</dhc:notifications>
			</dhc:notificationFunctionality>
			<dhc:state class="OnOffState">
				<dhc:statevalues>
					<dhc:statevalue name="off" class="OffStateValue" />
					<dhc:statevalue name="on" class="OnStateValue" />
				</dhc:statevalues>
			</dhc:state>
			<dhc:state class="SinglePhaseEnergyMeasurementState">
				<dhc:statevalues>
					<dhc:statevalue name=""
						class="SinglePhaseActiveEnergyStateValue" />
				</dhc:statevalues>
			</dhc:state>
			<dhc:state class="SinglePhaseActivePowerMeasurementState">
				<dhc:statevalues>
					<dhc:statevalue name=""
						class="SinglePhaseActivePowerStateValue" />
				</dhc:statevalues>
			</dhc:state>
		</dhc:device>
	</dhc:controllables>
</dhc:dogHomeConfiguration>