<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<dhc:dogHomeConfiguration xmlns:dhc="http://elite.polito.it/dogHomeConfiguration">
<dhc:controllables>
<dhc:device domoticSystem="ZWave" id="$name" class="MeteringPowerOutlet"
	gateway="$gateway">
	<dhc:description>$description</dhc:description>
	<dhc:isIn>$location</dhc:isIn>
	<dhc:param value="$nodeId" name="NodeID" type="network"/>
	#foreach( $instanceId in $instanceIds )
	<dhc:param value="$instanceId" name="InstanceID" type="network"/>
	#end
	<dhc:controlFunctionality class="OnOffFunctionality">
		<dhc:commands>
			<dhc:command id="OffCommand_$name" name="OffCommand_$name"
				class="OffCommand">
				<dhc:param value="off" name="realCommandName" />
			</dhc:command>
			<dhc:command id="OnCommand_$name" name="OnCommand_$name"
				class="OnCommand">
				<param value="on" name="realCommandName" />
			</dhc:command>
		</dhc:commands>
	</dhc:controlFunctionality>
	<dhc:controlFunctionality class="ActivePowerMeasurementFunctionality">
		<dhc:commands>
			<dhc:command id="GetActivePowerCommand_$name" name="GetActivePowerCommand_$name"
				class="GetActivePowerCommand">
				<dhc:param value="getActivePower" name="realCommandName" />
				<dhc:param value="Measure" name="returnType" />
			</dhc:command>
		</dhc:commands>
	</dhc:controlFunctionality>
	<dhc:controlFunctionality class="ActivePowerMeasurementFunctionality">
		<dhc:commands>
			<dhc:command id="GetActiveEnergyValueCommand_$name" name="GetActiveEnergyValueCommand_$name"
				class="GetActiveEnergyCommand">
				<param value="getActiveEnergyValue" name="realCommandName" />
				<param value="Measure" name="returnType" />
			</dhc:command>
		</dhc:commands>
	</dhc:controlFunctionality>
	<dhc:notificationFunctionality class="StateChangeNotificationFunctionality">
		<dhc:notifications>
			<dhc:notification id="StateChangeNotification_$name"
				class="StateChangeNotification">
				<dhc:param value="stateChanged" name="notificationName" />
				<dhc:param type="State" value="newState" name="notificationParamName" />
			</dhc:notification>
		</dhc:notifications>
	</dhc:notificationFunctionality>
	<dhc:notificationFunctionality
		class="ActivePowerMeasurementNotificationFunctionality">
		<dhc:notifications>
			<dhc:notification id="ActivePowerMeasurementNotification_$name"
				class="ActivePowerMeasurementNotification">
				<dhc:param value="2" name="nParams" />
				<dhc:param value="newActivePowerValue" name="notificationName" />
				<dhc:param name="unitOfMeasure" value="W" />
				<dhc:param type="Measure" value="value" name="notificationParamName" />
			</dhc:notification>
		</dhc:notifications>
	</dhc:notificationFunctionality>
	<dhc:notificationFunctionality
		class="ActiveEnergyMeasurementNotificationFunctionality">
		<dhc:notifications>
			<dhc:notification id="ActiveEnergyMeasurementNotification_$name"
				class="ActiveEnergyMeasurementNotification">
				<dhc:param value="2" name="nParams" />
				<dhc:param value="newActiveEnergyValue" name="notificationName" />
				<dhc:param name="unitOfMeasure" value="Wh" />
				<dhc:param type="Measure" value="value" name="notificationParamName" />
			</dhc:notification>
		</dhc:notifications>
	</dhc:notificationFunctionality>
	<dhc:state class="OnOffState">
		<dhc:statevalues>
			<dhc:statevalue name="off" class="OffStateValue" />
			<dhc:statevalue name="on" class="OnStateValue" />
		</dhc:statevalues>
	</dhc:state>
	<dhc:state class="SinglePhaseEnergyMeasurementState">
		<dhc:statevalues>
			<dhc:statevalue name=""
				class="SinglePhaseActiveEnergyStateValue" />
		</dhc:statevalues>
	</dhc:state>
	<dhc:state class="SinglePhaseActivePowerMeasurementState">
		<dhc:statevalues>
			<dhc:statevalue name=""
				class="SinglePhaseActivePowerStateValue" />
		</dhc:statevalues>
	</dhc:state>
</dhc:device>
</dhc:controllables>
</dhc:dogHomeConfiguration>