[class^="device-"],
[class*=" device-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  /*margin-top: 1px;*/
  margin-right: .3em;
  line-height: 14px;
  vertical-align: middle;
  background-image: url("../img/devices/device.png");
  background-repeat: no-repeat;
}

.device-modbusgateway,
.device-knxnetipgateway,
.device-elitegateway,
.device-bticinogateway,
.device-echelonlilon100gateway,
.device-homegateway,
.device-konnexgateway,
.device-texasinstrumentsgateway,
.device-zwavegateway
{
	background-image: url("../img/devices/gateway.png");	
}

.device-mainspoweroutlet,
.device-onoffoutput,
.device-meteringpoweroutlet,
.device-energymeteringpoweroutlet,
.device-powermeteringpoweroutlet
{
	background-image: url("../img/devices/plug.png");
}

.device-washingmachine,
.device-appliances
{
	background-image: url("../img/devices/washing_machine.png");
}

.device-activepowermeter,
.device-apparentpowermeter,
.device-currentmeter,
.device-electricitymeter,
.device-energymeter,
.device-energyandpowermeter,
.device-multitariffenergymeter,
.device-multitariffsinglephaseenergymeter,
.device-multitariffthreephaseenergymeter,
.device-reactivepowermeter,
.device-singlephaseactivepowermeter,
.device-singlephaseapparentpowermeter,
.device-singlephasecurrentmeter,
.device-singlephaseelectricitymeter,
.device-singlephaseenergymeter,
.device-singlephasereactivepowermeter
.device-singlephasevoltagemeter,
.device-singletariffenergymeter,
.device-threephaseactivepowermeter,
.device-threephaseapparentpowermeter,
.device-threephasecurrentmeter,
.device-threephaseelectricitymeter,
.device-threephaseenergymeter,
.device-threephasereactivepowermeter,
.device-threephasevoltagemeter
{
	background-image: url("../img/devices/electricity-meter.png");
	width: 31px;
}

.device-microwaveoven
{
	background-image: url("../img/devices/microwave.png");
}

.device-cooker,
.device-electricalcooker,
.device-gascooker,
.device-hotplate
{
	background-image: url("../img/devices/cooker.png");
}

.device-fridge,
.device-deepfreezer
{
	background-image: url("../img/devices/fridge.png");
}

.device-singletemperaturesensor,
.device-temperaturesensor
{
	background-image: url("../img/devices/temperature.png");
}




