[class^="device-"],
[class*=" device-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  /*margin-top: 1px;*/
  margin-right: .3em;
  line-height: 14px;
  vertical-align: middle;
  background-image: url("../img/devices/device.png");
  background-repeat: no-repeat;
}

.device-modbusgateway,
.device-knxnetipgateway,
.device-elitegateway,
.device-bticinogateway,
.device-echelonlilon100gateway,
.device-homegateway,
.device-konnexgateway,
.device-texasinstrumentsgateway,
.device-zwavegateway
{
	background-image: url("../img/devices/gateway.png");	
}

.device-mainspoweroutlet,
.device-onoffoutput,
.device-meteringpoweroutlet,
.device-energymeteringpoweroutlet,
.device-powermeteringpoweroutlet
{
	background-image: url("../img/devices/plug.png");
}

.device-washingmachine,
.device-appliances
{
	background-image: url("../img/devices/washing-machine.png");
}

.device-activepowermeter,
.device-apparentpowermeter,
.device-currentmeter,
.device-electricitymeter,
.device-energymeter,
.device-energyandpowermeter,
.device-multitariffenergymeter,
.device-multitariffsinglephaseenergymeter,
.device-multitariffthreephaseenergymeter,
.device-reactivepowermeter,
.device-singlephaseactivepowermeter,
.device-singlephaseapparentpowermeter,
.device-singlephasecurrentmeter,
.device-singlephaseelectricitymeter,
.device-singlephaseenergymeter,
.device-singlephasereactivepowermeter
.device-singlephasevoltagemeter,
.device-singletariffenergymeter,
.device-threephaseactivepowermeter,
.device-threephaseapparentpowermeter,
.device-threephasecurrentmeter,
.device-threephaseelectricitymeter,
.device-threephaseenergymeter,
.device-threephasereactivepowermeter,
.device-threephasevoltagemeter
{
	background-image: url("../img/devices/electricity-meter.png");
	width: 31px;
}

.device-microwaveoven
{
	background-image: url("../img/devices/microwave.png");
}

.device-cooker,
.device-electricalcooker,
.device-gascooker,
.device-hotplate
{
	background-image: url("../img/devices/cooker.png");
}

.device-fridge,
.device-deepfreezer
{
	background-image: url("../img/devices/fridge.png");
}

.device-singletemperaturesensor,
.device-temperaturesensor
{
	background-image: url("../img/devices/temperature.png");
}

.device-accesscontrolsystem
{
	background-image: url("../img/devices/access-control.png");
}

.device-acoustic
{
	background-image: url("../img/devices/speaker.png");
}

.device-actuator,
.device-awningactuator
{
	background-image: url("../img/devices/actuator.png");
}

.device-airconditioningsystem
{
	background-image: url("../img/devices/cold.png");
}

.device-alarmclock
{
	background-image: url("../img/devices/alarm-clock.png");
}

.device-answeringmachine
{
	background-image: url("../img/devices/phone.png");
	
}

.device-antiintrusionsystem
{
	background-image: url("../img/devices/anti-intrusion.png");
}

.device-boiler,
.device-hottube
{
	background-image: url("../img/devices/hot-tube.png");
}

.device-browngoods
{
	background-image: url("../img/devices/radio.png");
}

.device-button
{
	background-image: url("../img/devices/tap.png");
}

.device-buzzer
{
	background-image: url("../img/devices/bell.png");
}

.device-clock
{
	background-image: url("../img/devices/clock.png");	
}

.device-co2sensor
{
	background-image: url("../img/devices/co2sensor.png");	
}

.device-coffeemaker
{
	background-image: url("../img/devices/coffee-maker.png");	
}

.device-colordimmablelight
{
	background-image: url("../img/devices/color-dimmable-lamp.png");
}